body {
	/*
	background-image: url("img/taskboard-background.jpg");
	background-repeat: no-repeat;
	background-color: #cbe0fb;
	background-position: top left;
	*/
}

.ui-state-highlight { 
	line-height: 1.2em;
	margin: .3em;
}

.taskboard {
	clear: both;
	width: 100%;
}

.column, .column-req {
	width: 200px;
	float: left;
	padding-bottom: .3em;
	margin-right: .3em;
	margin-top: 0;
	overflow: hidden;
}

.column-req {
	font-weight: bold;	
	margin-left: 0;
}

.column-req-details {
	width: 100%;	
}

.column-req .column-req-details {
	padding: .3em;
	margin-left: 0;
}

.portlet {
	margin: 0 .3em .3em .3em;
	min-width:100px;
}

.portlet-header {
	margin: 0.25em;
	padding-bottom: 2px;
	padding-top: 2px;
	padding-left: 0.6em;
	cursor: move;
}

.portlet-header .ui-icon-carat-1-n, .portlet-header .ui-icon-carat-1-s  {
	cursor: pointer;	
}

.portlet-header,.portlet-content {
	overflow: hidden;
}

.portlet-header .ui-icon {
	float: right;
}

.portlet-content {
	padding: 0.4em;
	padding-top: 0;
}

.ui-sortable-placeholder {
	border: 1px dotted black;
	visibility: visible !important;
	height: 50px !important;
}

.ui-sortable-placeholder * {
	visibility: hidden;
}

.task-priority,.task-person,.task-date,.task-description {
	color: #666;
	clear: both;
}

.task-priority {
	
}

.task-person {
	
}

.task-date {
	
}

.task-description {
	color: #888;
}

.task-line {
	border: 0;
	width: 100%;
	height: 1px;
	background-color: #ddd;
}

div.portlet-content span.ui-icon {
	float: left;
	margin: 0 4px;
}

.column-header, .project-header {
	font-size: 1.3em;
	padding: .5em;
	margin-bottom: .3em;
	text-align: center;
}

.taksboard-ui-widget-header-alert {
	background: url("img/red-header.png") repeat-x scroll 50% 50% #5C9CCC;
	border: 1px solid #a04349;
	color: #FFFFFF;
	font-weight: bold;
}

.task-column-pointer {
	display: none;
	position: absolute;
	width: 50px;
	padding: 1em;
	text-align: center;
}

div#switcher {
	float: right;
}

.project {
	margin: 5px;
}

.project-header {
	text-align: left;
	width: 800px;
}

.project-header span.ui-icon {
	float: left;
	margin-right: .3em;
}